<div>
  <span>email:<a routerLink="/user">[{{email}}]</a></span>
  <br/>
  <br/>
  <label for="todoTitle">New: </label>
  <input id="todoTitle" type="text" #todoTitle placeholder="thing to be done" />
  <button on-click="add(todoTitle.value); todoTitle.value = ''">Add</button>
</div>
<ul *ngIf="todos?.length; else noTodosMessage">
  <li *ngFor="let todo of todos">
    <app-todo
      [todo]="todo"
      on-todoRemove="remove($event)"
      on-todoEdit="update($event)"
    ></app-todo>
  </li>
</ul>
<ng-template #noTodosMessage>
  <span>No todos yet, please add one!</span>
</ng-template>
<div>
  <div>
   pending: <span>{{ itemLeft }} item left </span>
  </div>
  <div>
    filter by:
    <span><a on-click="filterBy('all')">All</a> | </span>
    <span><a on-click="filterBy('active')">Active</a> | </span>
    <span><a on-click="filterBy('completed')">Completed</a></span>
  </div>
</div>
