<div *ngIf="todo">
  <div *ngIf="!isEditing; else showEditInput">
    <input class="mr-2" type="checkbox" (change)="onToggleStatus()" [checked]="todo.completed"/>
    <span
      class="mr-2 todo-title"
      [class.completed]="todo.completed"
      [class.text-muted]="isEditingSiblins"
      on-click="toggleEditing()"
      >{{ todo.title }}</span
    >
    <button type="button" class="close" (click)="onRemove()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-template #showEditInput>
    <div class="form-inline">
      <input
        class="todo__edit"
        type="text"
        on-keyup.enter="onUpdate(newTitle.value)"
        on-blur="onUpdate(newTitle.value)"
        class="form-control form-control-sm mr-1"
        #newTitle
        [value]="todo.title"
      />
      <button class="btn btn-outline-primary btn-sm mr-1" (click)="onUpdate(newTitle.value)">
        ok
      </button>
      <button class="btn btn-outline-secondary btn-sm" (click)="toggleEditing()">
        cancel
      </button>
    </div>
  </ng-template>
</div>
