<form [formGroup]="userProfile" (ngSubmit)="onSubmit()" class="">
  <div class="form-row">
    <h4 class="my-3 col-12">Basic info</h4>
    <div class="form-group col-md-6">
      <label class="small"> First Name: </label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="setValidationClass('firstName')"
      />
      <div class="invalid-feedback">
        <div *ngIf="userFirstName.errors?.required">
          First Name is required.
        </div>
        <div *ngIf="userFirstName.errors?.minlength">
          First Name must be at least 6 characters long.
        </div>
        <div *ngIf="userFirstName.errors?.forbiddenName">
          First Name must no contain: Ramon
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="small"> Last Name: </label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="setValidationClass('lastName')"
      />
    </div>

    <h4 class="my-3 col-12">Contact info</h4>
    <div class="form-group col-md-12">
      <label class="small"> Email: </label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="setValidationClass('email')"
      />
      <div class="invalid-feedback">
        <div *ngIf="userEmail.errors?.required">
          Email is required.
        </div>
        <div *ngIf="userEmail.errors?.email">
          Must provide a valid email address
        </div>
        <div *ngIf="userEmail.errors?.uniqueEmail">
          Email is taken, please provide a different one.
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label class="small"> Occupation: </label>
      <input type="text" formControlName="occupation" class="form-control" [ngClass]="setValidationClass('occupation')" />
    </div>
    <div class="form-group col-md-6">
      <label class="small"> Phone: </label>
      <input type="text" formControlName="phone" class="form-control" [ngClass]="setValidationClass('phone')" />
    </div>
    <div formGroupName="address" class="form-group row px-1">
      <div class="form-group col-md-12">
        <label class="small"> Street: </label>
        <input type="text" formControlName="street" class="form-control" [ngClass]="setValidationClass('address.street')" />
      </div>
      <div class="form-group col-md-6 pr-md-1">
        <label class="small"> City: </label>
        <input type="text" formControlName="city" class="form-control" [ngClass]="setValidationClass('address.city')" />
      </div>
      <div class="form-group col-md-6 pl-md-1">
        <label class="small"> State: </label>
        <input type="text" formControlName="state" class="form-control" [ngClass]="setValidationClass('address.state')" />
      </div>
    </div>
    <div formArrayName="aliases" class="col-12">
      <h4 class="my-3">
        Aliases<button
          (click)="addAlias()"
          type="button"
          class="ml-2 btn btn-outline-secondary btn-sm"
        >
          Add
        </button>
      </h4>
      <div *ngFor="let alias of aliases.controls; let i = index">
        <label class="small"> Alias: </label>
        <input type="text" [formControlName]="i" class="form-control" [ngClass]="setValidationClass(i)" />
      </div>
    </div>
    <br />
  </div>
  <div class="d-flex justify-content-around align-items-center mt-5">
    <button (click)="goBack()" class="btn btn-secondary mr-2 w-100">Go Back</button>
    <button
      type="submit"
      [disabled]="!userProfile.valid"
      class="btn btn-primary w-100"
    >
      Save
    </button>
  </div>
</form>

